{%extends "base.html"%}
{%load static%}
{% load bootstrap5 %}
{%block title%} Create Category {%endblock title%}

{%block content%} 
<section id="interface">
    <h3 style=" margin-left: 15px; margin-top: 25px;">
        Add Category
    </h3>
   
    <div class="container ">
        <div class="row my-5">
            <div class="col-md-12">
                <form action= "{% url 'create-category'%}" method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>


</section>



{%endblock content%}
