{% extends "base.html" %}
{% load static %}
{%  block content%}


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                <div class="search">
                    <i class="far fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                {% if request.user.is_authenticated %}
                <img src="{{request.user.image.url}}" alt="">
                {% endif %}

            </div>
        </div>

        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="values">
            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>{{ users.count }}</h3>
                    <span>Total Users</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <div>
                    <h3>{{ charities.count }}</h3>
                    <span>Total Charities</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <div>

                    <h3>{{totalDonation}}</h3>
                    <span># of donation</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <div>
                    <h3>{{ items.count }}</h3>
                    <span>Total Items</span>
                </div>
            </div>
        </div>

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Points</td>
                        <td>Role</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in allUsers %}
                    <tr>
                        <td class="people">
                            <img src="{{ user.image.url }}" alt="">
                            <div class="people-de">
                                <h5>{{ user.username}}</h5>
                                <p>{{ user.email }}
                                </p>
                            </div>
                        </td>

                        <td class="active">
                            <p>{{user.points}}</p>
                        </td>

                        <td class="role">
                            <p>{% if user.isCharity %} 
                                <div class = "d-flex align-items-center">
                                    <div class="green-circle me-3">

                                    </div>
                                Charity 

                            </div>{% elif user.is_superuser %}
                             <div class="d-flex align-items-center">
                                <div class="yellow-circle me-3"></div>
                                Superuser
                                

                            </div>{% else %} 
                            <div  class = "d-flex align-items-center">
                                <div class="blue-circle me-3">

                                </div>
                                User


                            </div> {% endif %}</p>

                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="{%url 'user_details' user_id=user.id%}">View Profile</a></td>

                    </tr>
                {% endfor %}



                </tbody>
            </table>
        </div>
    </section>


{% endblock content %}