{%extends "base.html"%}
{% load static %}


{%block content%}  

<!-- <body>



    <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="dropdown">
              <button class="btn  dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category List
              </button>
              <ul class="dropdown-menu">
                {%for r in categories%}
                <li><a class="dropdown-item" href="{}">{{r.name}}</a></li>
                {% endfor %}
                
              </ul>
            </div>
          </div>
        </div>
      </div>

      





</body> -->




{%endblock content%}
